<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-app='Uptime'>

  <div class='navbar navbar-default navbar-static-top'>
    <div class='container'>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Uptime</a>

      </div>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'Dashboard', pages_dashboard_path %></li>
        <li><%= link_to 'Workflows', pages_dashboard_path %></li>
        <li><%= link_to 'Reports', pages_dashboard_path %></li>
        <li><%= link_to 'Settings', pages_settings_path %></li>
      </ul>
    </div>
  </div>
  <%= yield %>

</body>
</html>
